.share-wrapper{
  width: 1300px;
  
}

.share-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent {
    display: grid;
    width: 1300px;
    height: 885px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 2;
    margin-left: 23px;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 6;
    margin-top: -30px;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 6;
       margin-top: -30px;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 6;
    grid-row-start: 3;
    margin-left: 100px;
}

.div7 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 8;
    grid-row-start: 2;
     margin-left: 147px;
}

.div8 {
       grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 11;
    grid-row-start: 6;
    margin-left: -63px;
}

.div9 {
    grid-row: span 4 / span 4;
    grid-column-start: 10;
    grid-row-start: 6;
    margin-left: -118px;
}
        

@media (max-width: 992px) {
  .share-wrapper {
    width: 100%;
    padding: 0 20px;
  }

  .parent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    height: auto;
    gap: 12px;
  }


  .div1,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9 {
    grid-column: span 3 !important;
    grid-row: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }


  .parent img {
    height: auto;
  }
}


@media (max-width: 768px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: auto;
    gap: 10px;
  }

  .div1,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9 {
    grid-column: span 2 !important;
    grid-row: auto !important;
  }

  .parent img {
    width: 100%;
    height: auto;
  }
}


@media (max-width: 480px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8px;
  }

  .div1,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9 {
    grid-column: span 1 !important;
    grid-row: auto !important;
  }

  .share-title h2 {
    font-size: 1.4rem;
  }

  .share-title span {
    font-size: 1.2rem;
  }

  .parent img {
    width: 100%;
    height: auto;
  }
}
