.footer {
  background-color: #f9f9f9;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.footer-left {
  font-size: 14px;
  color: #757575;
  text-align: left;
}

.footer-left p {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: #000;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newsletter-input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
border-left: none;
border-right: none;
background-color: #f9f9f9;
border-top: none;
border-bottom: 2px gray solid;
}
.newsletter-input:focus {
 background-color: #f39c12;
 color: white;
}


.subscribe-btn {
  padding: 10px 15px;
 background-color: #f9f9f9;
  font-size: 14px;
 border-left: none;
border-right: none;
border-top: none;
border-bottom: 2px gray solid;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #f39c12;
  color: white;
}

.footer-bottom {
  width: 100%;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  margin-left: 50px;
  color: #757575;
}
.Funiro{
  color: #000;
}.links,.help,.newsletter{
  color: #9F9F9F;
  margin-bottom: 100px;
}
